<div class="subtitleSizer">
    <div class="subtitleSizerContainer">
        <button type="button" is="paper-icon-button-light" class="subtitleSizer-closeButton" title="${Close}"><span class="material-icons close" aria-hidden="true"></span></button>
        <div class="subtitleSizerValue">100%</div>
        <div class="subtitleSizerMessage hide"></div>
        <div class="sliderContainer subtitleSizerSliderContainer">
            <input is="emby-slider" type="range" step="5" min="25" max="200" value="100" class="subtitleSizerSlider" data-slider-keep-progress="true" />
        </div>
    </div>
</div>
